<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Template</title>

    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/main.min.css" />
    <script src="~/lib/fontawesome/fontawesome-all.min.js"></script>
    <link rel="stylesheet" href="~/css/animate.min.css" />

</head>
<body>
    @Html.Partial("~/Views/Partials/_main-menu.cshtml")
    @RenderBody()
    @Html.Partial("~/Views/Partials/_footer.cshtml")

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
